<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Demo login</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.5/vue-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>


    <style>
        #app {
            max-width: 800px;
            margin-left: 200px;
        }

        #links {
            margin-bottom: 50px;
        }

    </style>
</head>

<body>
<!-- Our application root element -->
<div id="app">
    <template>
        <b-jumbotron header="Demo login">

            <b-btn variant="primary" href="/swagger-ui">API docs</b-btn>
        </b-jumbotron>


        <div v-if="notLoggedIn">
            <div id="links">
                <b-link href="#register" @click="registerFunc">Register</b-link>
                |
                <b-link href="#login" @click="loginFunc">Login</b-link>
                <br>

            </div>
            <div>
                <b-form @submit="onSubmit" @reset="onReset" v-if="showRegister">

                    <div>
                        <b-form-group id="agencyType"
                                      label="Loại đại lý:">
                            <b-form-select v-model="data.agencyTypeId" :options="AgencyTypes" class="mb-3"/>
                        </b-form-group>
                    </div>

                    <b-form-group id="phoneinput"
                                  label="Phone number:"
                                  label-for="phoneinput"
                                  description="please fill out your phone number">
                        <b-form-input id="phoneinput"
                                      type="number"
                                      v-model="data.phone"
                                      required
                                      placeholder="enter phone">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="passwordinput"
                                  label="Password:"
                                  label-for="passwordinput">
                        <b-form-input id="passwordinput"
                                      type="password"
                                      v-model="plainPassword"
                                      required
                                      placeholder="Enter password">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="confirmpasswordinput"
                                  label="Repeat Password:"
                                  label-for="confirmpasswordinput">
                        <b-form-input id="confirmpasswordinput"
                                      type="password"
                                      v-model="plainConfirmPassword"
                                      required
                                      placeholder="Enter password">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="email" label="Địa chỉ email:">
                        <b-form-input v-model="data.email" required/>
                    </b-form-group>


                    <b-form-group id="fullname" label="Họ/tên:">
                        <b-form-input v-model="data.fullName" required/>
                    </b-form-group>

                    <b-form-group id="identity" label="CMND:">
                        <b-form-input type="number" v-model="data.identityNumber" required/>
                    </b-form-group>

                    <b-form-group id="taxcode" label="Mã số thuế:">
                        <b-form-input v-model="data.taxCode" required/>
                    </b-form-group>

                    <b-form-group id="address" label="số nhà:">
                        <b-form-input v-model="data.address" required/>
                    </b-form-group>

                    <b-form-group id="ward" label="Phường/xã:">
                        <b-form-input v-model="data.ward" required/>
                    </b-form-group>

                    <div>
                        <b-form-group id="city" label="Thành phố:">
                            <b-form-select v-model="data.cityId" :options="cities" class="mb-3"/>
                        </b-form-group>
                    </div>
                    <div>
                        <b-form-group id="district"
                                      label="Quận huyện:">
                            <b-form-select v-model="data.districtId" :options="districts" class="mb-3"/>
                        </b-form-group>
                    </div>


                    <b-button type="submit" variant="primary">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>

                </b-form>

            </div>

            <div>
                <b-form @submit="onSubmitLogin" @reset="onResetLogin" v-if="showLogin">
                    <b-form-group id="phone"
                                  label="Phone number:"
                                  label-for="phoneinput"
                                  description="please fill out your phone number">
                        <b-form-input id="phone"
                                      type="number"
                                      v-model="data.phone"
                                      required
                                      placeholder="enter phone">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="password"
                                  label="Password:"
                                  label-for="passwordinput">
                        <b-form-input id="password"
                                      type="password"
                                      v-model="plainPassword"
                                      required
                                      placeholder="Enter password">
                        </b-form-input>
                    </b-form-group>

                    <b-button type="submit" variant="primary">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>

                </b-form>

            </div>

            <div>
                <br>
                <b-alert variant="success" :show="showAlert">
                    Phone length must be > 8 and < 11
                </b-alert>

                <b-alert variant="warning" show v-if="error">
                {{errorMessage}}
                </b-alert>

            </div>
        </div>
        <div v-else>

            <b-alert variant="success" show>
                You are logged in user
            {{
            userInfo
            }}
            </b-alert>

            <div id="logoutlink">
                <b-link href="#logout" @click="logoutFunc">Logout</b-link>
                <br>
            </div>

            <div v-if="isConfirmed">
                <b-embed type="iframe"
                         aspect="16by9"
                         src="https://www.youtube.com/embed/fs5-iJxDqhQ"
                         allowfullscreen
                ></b-embed>
            </div>
            <div v-else>
                <b-form @submit="activateAccount" v-if="isConfirmed == false">
                    <b-form-group id="verifycode"
                                  label="Verification code:"
                                  label-for="verifycode"
                                  description="Enter verfication code we've sent to your phone number">
                        <b-form-input id="verifycode"
                                      type="number"
                                      v-model="verificationCode"
                                      required
                                      placeholder="enter verification code">
                        </b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Submit</b-button>
                </b-form>
            </div>
        </div>
    </template>
</div>

<!-- Start running your app -->
<script>
    window.app = new Vue({
        el: "#app",
        data: {
            data: {
                phone: '0976302232',
                password: null,
                confirmPassword: null,
                fullName: "Hung",
                identityNumber: 0,
                agencyTypeId: 0,
                taxCode: "23424234",
                address: "òdjsofsif",
                districtId: 0,
                cityId: 0,
                ward: "23424",
                email: "hung@me.com",
                dob: "23/12/1983"

            },
            plainPassword: null,
            plainConfirmPassword: null,
            showRegister: false,
            showLogin: true,
            error: false,
            errorMessage: "",
            notLoggedIn: true,
            token: "",
            userInfo: "",
            isConfirmed: false,
            verificationCode: null,
            districts: [],
            cities: [],
            AgencyTypes: []
        },
        mounted: function () {
            this.checkLogin()
        },
        computed: {
            showAlert() {
                return this.data.phone.length > 0 &&
                        (this.data.phone.length < 8 || this.data.phone.length > 11);
            }
        },
        watch: {
            data: {
                handler: function (newValue) {
                    console.log("changed");
                    if (newValue.cityId !== 0) {
                        this.districts = this.districts.filter(district => (
                                district.cityId === newValue.cityId
                        ));
                        console.log(this.districts)
                    }
                    if (newValue.identityNumber !== 0) {
                        this.data.identityNumber = parseInt(newValue.identityNumber)
                    }
                },
                deep: true,
            },
            plainPassword: {
                handler: function (newValue) {
                    console.log(newValue)
                    if (newValue != null) {
                        this.data.password = CryptoJS.MD5(newValue).toString();
                        console.log(this.data.password);
                    }

                }
            },
            plainConfirmPassword: {
                handler: function (newValue) {
                    console.log(newValue)
                    if (newValue != null) {
                        this.data.confirmPassword = CryptoJS.MD5(newValue).toString();
                        console.log(this.data.confirmPassword);
                    }
                }
            },
        },
        methods: {
            checkLogin() {
                Vue.http.get('/api/client/checkLogin').then((response) => {
                    // Success
                    if (response.data.token) {
                        this.token = response.data.token;
                        this.checkToken(JSON.stringify(response.data))
                    }
                }, (response) => {
                });
            },

            getDistrict() {
                Vue.http.get('/api/config/districts').then((response) => {
                    // Success
                    if (response.data) {
                        console.log(response.data);
                        this.districts = response.data.Districts.map((district) => (
                                {
                                    value: district.districtId,
                                    text: district.districtName,
                                    cityId: district.cityId
                                }
                        ));
                        console.log(this.districts);
                        this.districts.push({value: 0, text: 'Chọn Quận/Huyện'});
                    }
                }, (response) => {
                });
            },
            getCities() {
                Vue.http.get('/api/config/cities').then((response) => {
                    // Success
                    if (response.data) {
                        this.cities = response.data.Cities.map((city) => (
                                {
                                    value: city.cityId,
                                    text: city.cityName
                                }
                        ));
                        this.cities.push({value: 0, text: 'Chọn thành phố'});
                        console.log(this.cities)
                    }
                }, (response) => {
                });
            },
            getAgencyTypes() {
                Vue.http.get('/api/config/agencyTypes').then((response) => {
                    // Success
                    if (response.data) {
                        this.AgencyTypes = response.data.agencyTypes.map((agencyType) => (
                                {
                                    value: agencyType.agencyTypeId,
                                    text: agencyType.description
                                }
                        ));
                        this.AgencyTypes.push({value: 0, text: 'Chọn mô hình kinh doanh'});
                        console.log(this.AgencyTypes)
                    }
                }, (response) => {
                });
            },
            checkToken(data) {
                Vue.http.post('/api/client/checkToken', data).then((response) => {
                    // Success
                    this.user = response.data.user;
                    this.notLoggedIn = false;
                    this.isConfirmed = this.user.confirmed || false
                }, (response) => {
                });
            },

            onSubmit(evt) {
                evt.preventDefault();
                Vue.http.post('/api/client/register', JSON.stringify(this.data)).then((response) => {
                    // Success
                    let {returnCode, message, token} = response.data
                    if (returnCode !== 1) {
                        this.setError(message);
                    } else {
                        this.onSubmitLogin(evt);
                    }

                }, (response) => {
                    // Error
                    this.setError(response.data);
                });
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.data.phone = '';
                this.data.password = '';
                this.data.confirmPassword = '';
                /* Trick to reset/clear native browser form validation state */
                this.showRegister = false;
                this.$nextTick(() => {
                    // this.getDistrict();
                    // this.getCities();
                    this.showRegister = true
                });
            },
            onSubmitLogin(evt) {
                evt.preventDefault();
                Vue.http.post('/api/client/login', JSON.stringify(this.data)).then((response) => {
                    // Success
                    if (response.data.token) {
                        this.token = response.data.token;
                        this.checkToken(response.data)
                    } else {
                        this.setError(response.data)
                    }
                }, (response) => {
                    // Error
                    this.setError(response.data)
                });
            },
            onResetLogin(evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.reset();
                /* Trick to reset/clear native browser form validation state */
                this.showLogin = false;
                this.$nextTick(() => {
                    this.showLogin = true
                });
            },
            reset() {
                this.data.phone = '';
                this.data.password = '';
                this.data.confirmPassword = '';
            },
            registerFunc(evt) {
                evt.preventDefault();
                this.reset();
                this.showLogin = false;
                this.$nextTick(() => {
                    this.getDistrict();
                    this.getCities();
                    this.getAgencyTypes();
                    this.showRegister = true
                });
            },
            loginFunc(evt) {
                evt.preventDefault();
                this.reset();
                this.showRegister = false;
                this.$nextTick(() => {
                    this.showLogin = true
                });
            },
            setError(data) {
                this.error = true;
                this.errorMessage = data
            },
            logoutFunc() {
                let requestData = {
                    token: this.token
                };
                Vue.http.post('/api/client/logout', JSON.stringify(requestData)).then((response) => {
                    // Success
                    this.notLoggedIn = true;
                }, (response) => {
                    // Error
                    this.setError(response.data)
                });
            },
            activateAccount(evt) {
                evt.preventDefault();
                let activationData = {
                    token: this.token,
                    confirmationCode: parseInt(this.verificationCode)
                };
                Vue.http.post('/api/client/activateAccount', JSON.stringify(activationData)).then((response) => {
                    // Success
                    this.isConfirmed = true;
                    this.onSubmitLogin(evt);

                }, (response) => {
                    // Error
                    this.setError(response.data)
                });
            }
        }
    })
</script>

</body>
</html>