body {
    background-color: #eee;
}

.fancy-form {
    width: 18em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.5em;
    padding-bottom: .5em;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    font-size: 1rem;
}

.fancy-form--processing .fancy-form__control--submit span,
.fancy-form--failure .fancy-form__control--submit span,
.fancy-form--success .fancy-form__control--submit span {
    opacity: 0;
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 360deg);
    }
}
.fancy-form--processing .fancy-form__control--submit::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #777;
    border-left-color: transparent;
    -webkit-animation-name: spinning;
    animation-name: spinning;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.fancy-form--failure .fancy-form__control--submit::before, .fancy-form--failure .fancy-form__control--submit::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: .8rem;
    height: 2px;
    background-color: red;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.fancy-form--failure .fancy-form__control--submit::before {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 45deg);
}
.fancy-form--failure .fancy-form__control--submit::after {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg);
}

.fancy-form--success .fancy-form__control--submit::before, .fancy-form--success .fancy-form__control--submit::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background-color: green;
}
.fancy-form--success .fancy-form__control--submit::before {
    width: .3rem;
    -webkit-transform: translate3d(-150%, 5%, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(-150%, 5%, 0) rotate3d(0, 0, 1, 45deg);
}
.fancy-form--success .fancy-form__control--submit::after {
    width: .8rem;
    -webkit-transform: translate3d(-30%, -50%, 0) rotate3d(0, 0, 1, -45deg);
    transform: translate3d(-30%, -50%, 0) rotate3d(0, 0, 1, -45deg);
}

.fancy-form__input label {
    cursor: pointer;
    font-size: .75em;
    color: #ccc;
}
.fancy-form__input input {
    cursor: pointer;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5em;
    padding-bottom: .2em;
    outline: none;
    border: none;
    background: none;
}
.fancy-form__input input:hover ~ span {
    width: 20%;
}
.fancy-form__input input:focus {
    cursor: text;
}
.fancy-form__input input:focus ~ span {
    width: 100%;
}
.fancy-form__input span {
    display: block;
    width: 0;
    height: 2px;
    -webkit-transition: width .15s;
    transition: width .15s;
    margin-bottom: .75em;
    background-color: #ddd;
}
.fancy-form__input p {
    visibility: hidden;
    height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .75em;
    color: red;
}

.fancy-form__input--error input {
    color: red;
}
.fancy-form__input--error input:hover ~ span {
    width: 100%;
}
.fancy-form__input--error span {
    width: 100%;
    background-color: red;
}
.fancy-form__input--error p {
    visibility: visible;
}

.fancy-form__controls {
    text-align: right;
}

.fancy-form__control {
    padding: 1em;
    outline: none;
    border: none;
    background: none;
}

.fancy-form__control--cancel {
    border: none;
    font-size: .75rem;
    color: #ccc;
}

.fancy-form__control--submit {
    position: relative;
}
.fancy-form__control--submit:hover span::after {
    width: 50%;
}
.fancy-form__control--submit span {
    opacity: 1;
    position: relative;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
.fancy-form__control--submit span::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -.3em;
    background-color: #ccc;
    -webkit-transition: width .15s;
    transition: width .15s;
}

.fancy-form__failure-message {
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -.5em;
    padding: 1em;
    background-color: red;
    color: #fff;
}
.fancy-form__failure-message p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .75em;
}

.fancy-form__success-message {
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -.5em;
    padding: 1em;
    background-color: deepskyblue;
    color: #fff;
}
.fancy-form__success-message p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .75em;
}

.fancy-form__title {
    width: 18em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    /*background-color: white;*/
    color: deepskyblue;
}